{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id eros ac dui aliquet sagittis. Fusce maximus odio non dui volutpat rutrum. Etiam ultrices et sem quis feugiat. Mauris venenatis quam eu rhoncus ullamcorper. Phasellus sollicitudin erat justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu dolor metus. Pellentesque velit odio, euismod quis ligula id, volutpat sollicitudin tellus. Quisque consequat eros sed turpis pellentesque auctor. Mauris rhoncus dolor quis justo tristique varius. Maecenas condimentum condimentum sem eu posuere. Maecenas finibus quam sed posuere aliquet.</p>
{{end}}
